.demo {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.shaderToy.shaderToy {
  max-height: 90vh;
  width: 100vw;
  height: 90vh;
}

.shaderToy iframe {
  z-index: 1;
  background: black;
}

div.code.code.code pre {
  font-size: 18px;
}

.multicodeWrapper:not(:last-child) {
  margin-bottom: 10px;
}
